<!DOCTYPE html>
<html ng-app="cammy">
<head>
  <title>Cammy</title>
  
  <link rel="stylesheet" type="text/css" href="assets/kube.min.css"/>
  <link rel="stylesheet" type="text/css" href="app.css"/>
</head>
<body ng-controller="BodyCtrl">
  <div  ng-controller="MainCtrl" class='units-row content'>
    <di class='unit-100'>
      
      <div class='unit-100'>
        <h1>Cammy<small> {{stats.vertices}} vertices, {{stats.lines}} lines</small></h1>
      </div>
      
      <div class='units-row'>
        <div class='unit-33'>
          <form class='forms'>
            <p>
              <span class='small'>Accuracy</span>
              <input type="range" ng-model="parameters.sideSize" min="5" max="50" step="5">
              <span class='label label-data'>{{parameters.sideSize}}</span>
            </p>
          </form>
        </div>
        
        <div class='unit-33'>
          <form class='forms'>
            <p>
              <span class='small'>Frequency</span>
              <input type="range" ng-model="parameters.frequency" min="0.1" max="10" step="0.05">
              <span class='label label-data'>{{parameters.frequency}}</span>
            </p>
          </form>
        </div>
        <div class='unit-33'>
          <form class='forms'>
            <p>
              <span class='small'>Speed</span>
              <input type="range" ng-model="parameters.zIncrement" min="0.0001" max="0.1" step="0.0005">
              <span class='label label-data'>{{parameters.zIncrement}}</span>
            </p>
          </form>
        </div>
      </div>
      
      
      <cammy-canvas data='data' angles='angles'></cammy-canvas>
      <div class='unit-100'>
        <span class='label label-blue'>&theta; {{angles.theta}}&deg;</span>
        <span class='label label-blue'>&phi; {{angles.phi}}&deg;</span>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
<script type="text/javascript" src="bower_components/angular-unstable/angular.min.js"></script>
<script type="text/javascript" src="utils.js"></script>
<script type="text/javascript" src="cammy.js"></script>
</html>
